/*
             Designing using Hyper-Text Markup Language HTML. Assignment 1. 
                 About Me Page.css
                 Author: Paige Webster
                 Date: 03 Mar 2021
                 Filename: 			Layout.css
                 Supporting Files: warhammer Pic 1.jpg, warhammer Pic 2.jpg, warhammer Pic 3.webp, Background Pic 1.JPG
*/

/* File Builder and Display for HTML Codes */

article, aside, figure, figcaption, footer, hgroup, header, 
section, nav {
   display: block;
}

/* Page Styles */

/* Body Styles */
body {
   background-color: #a7dbe3;
   background: url(BackgroundPic3.JPG) no-repeat;
   width: 100%;
   min-width: 1000px;
   max-width: 1400px;
   font-family: Verdana, Geneva, sans-serif;
   font-weight: bold;
    color:  white;

}

/* Header Styles */

header h1 {
   clear:  left;
   width: 80%;
   font-size: 3.5em;
   font-weight: bold;
   font-family: Algerian;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: blueviolet;
   
   text-align: center;
   color:  white;

   letter-spacing: 5px;
   line-height: 2em;
}

/* Navigation Styles */

	/* Vertical Navigation Styles */
	
	/* Horizontal Navigation Styles */

/* Section Styles */

/* Section Articles */
section article h2 {
   margin: 0px 0px 15px 0px;
   font-weight: normal;
   text-align: center;
   color:  white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: blueviolet;
   width: 100%; 
	
   font-size: 1.2em;
   letter-spacing: 5px;
   line-height: 2em;
}

/* Middle Section Styles */
section.middle {
   background: url(BackgroundPic1.JPG) no-repeat;
   background-size: cover;
   background-position: center;
	
   width:  40%;
   float: left;
   margin-left: 25px;
}

section.middle img {
   float: left;
   clear: left;
   margin: 0px 5px 0px 0px;
}
/* Right Section Styles */

section.right {
   background: url(BackgroundPic2.JPG) no-repeat;
   background-size: cover;
   background-position: center;
	
   width: 40%;
   float: left;
   margin-left: 15px;
} 

section.right article:first-of-type {
  text-align: center;
}

/* Footer Styles */

footer {
   clear: left;
   margin-left: 25%;
   width: 80%;
   padding-bottom: 20px;
}
